# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,fortran
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,macos,fortran

### Fortran ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
myapp*

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,fortran

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

